// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, cosmic);

$nb-themes: nb-register-theme((
 // app wise variables for each theme
   sidebar-header-gap: 0rem,
   sidebar-header-height: initial,
   layout-content-width: 1400px,

   font-main: Roboto,
   font-secondary: Exo,
  
   layout-padding: 1.5rem 1.5rem 1.5rem,
   color-wizly: #04f8fc,
   //color-fg: #000000,
   //color-fg: #fff,
   color-fg-white: #ffffff,
   //color-fg-heading: #000000,
   color-fg-heading: #fff,
   linear-gradient: linear-gradient(to bottom, #00007f,#3123bd,#000080) !important,
   color-success:rgb(102,255,102),
   color-info: rgb(0,253,253),
   color-warning: rgb(255,192,0),  
   color-danger: rgb(255,0,102),
   //header-height: 2.2rem,
   menu-submenu-active-fg: #05f9fc,
   menu-item-separator: transparent,
   tabs-selected: color-wizly,
   route-tabs-selected: color-wizly,

//color-fg-highlight: red,
  
), default, default);

$nb-themes: nb-register-theme((
// app wise variables for each theme
   sidebar-header-gap: 0rem,
   sidebar-header-height: initial,
   layout-content-width: 1400px,

   font-main: Roboto,
   font-secondary: Exo,
  
   separator: #00007F,
  
   color-wizly: #04f8fc,
   color-bg: #00007f,
   header-height: 2.5rem,
   color-fg: #fff,
   color-fg-white: #fff,
   color-fg-heading: #fff,
   color-fg-text: black,
   color-fg-highlight: white,
// shadow: transparent,
   layout-bg: transparent,
// linear-gradient-wizly: linear-gradient(to bottom, #00007f,#3123bd,#000080) !important,
// linear-gradient-wizly: linear-gradient(to bottom, rgba(0, 0, 127, 0.7), rgba(49, 35, 189, 0.7), rgba(0, 0, 128, 0.7)) !important,
   linear-gradient-wizly: rgba(0, 0, 127, 0.4),
   sidebar-bg: linear-gradient-wizly,
   header-bg: linear-gradient-wizly,
   actions-fg: color-fg-white,
   menu-fg: color-fg-white,
   menu-bg: transparent,
   menu-submenu-fg: color-fg-white,
   menu-submenu-active-bg: #850606,
   menu-submenu-active-fg: color-fg-white,
   menu-submenu-active-border-color: transparent,
   form-control-bg: color-fg-white,
   checkbox-fg: color-fg,
   checkbox-border-color: color-fg,
   checkbox-checked-border-color: color-wizly,
   checkbox-disabled-border-color: color-wizly,
   checkbox-disabled-checkmark: color-fg-heading,
   checkbox-border-size: 1px,

   radio-fg: color-wizly,
  
// search-bg: linear-gradient(to bottom, #00007f,#3123bd,#000080) !important,
   search-bg: linear-gradient-wizly,
   search-btn-open-fg: color-fg-white,
   search-text:  color-fg-white,
   search-dash: color-fg-white,
   search-placeholder:  color-fg-white,
   menu-icon-color: color-fg-white,
 
   menu-icon-active-color: color-fg-white,
   menu-submenu-hover-fg: color-wizly,
 
   user-size-small: .5rem,
   user-size-medium: 1.5rem,
   user-size-large: 2.25rem,

   card-bg:red,
   card-fg-text:black,
   sidebar-shadow: transparent,
   header-shadow: transparent,
   card-shadow: 0 8px 20px 0 rgba(40, 37, 89, 0.6),	
	
   form-control-border-color: color-wizly,
   form-control-selected-border-color: color-wizly,
   form-control-border-width: 1px,

   btn-success-bg:color-wizly,
   link-color: color-wizly,
   link-color-hover: color-wizly,
   
   scrollbar-fg: #fff,
	
), cosmic, cosmic);

