<div class="row">
        <div class="col-lg-12">

<div class="modal-header">
        <span>Export to Office</span>
        <button class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
                    <div class="col-lg-12"> 
                        <div id="ToolFrameDiv" class="ui-layout-east ui-layout-pane ui-layout-pane-east" style="position: absolute; margin: 0px; left: auto; right: 1px; top: 99px; bottom: 8px; height: 100%; z-index: 0; width: 250px; display: none; visibility: visible;">
                            <div id="ToolFrameHeaderWrapper" class="FrameHeader">
                                <a onclick="OfficeExport()" href="#" class="InformationHeaderButton">
                                    <div class="chev-bg">
                                        <i class="fa fa-angle-double-right" style="color:#FFF; font-size:28px"></i>
                    
                                    </div>
                                </a>
                                <div id="ToolFrameHeaderDiv" class="InformationHeaderLeft">
                                </div>
                            </div>
                    
                            <div id="ToolFrameContentDiv" style="border: 0px;">
                                <table border="0" cellspacing="0" cellpadding="0" class="PopupView" id="WrapperTable">
                                    <tbody>
                                        <tr>
                                            <td id="LowerWrapperCell" class="WrapperCell">
                    
                                                <div class="PropertyFormGroupWrapper" id="PowerPointDiv">
                    
                                                    <table class="GlossyPropertyFormGroup" style="width: 100%; padding-top: 0;" cellpadding="0" cellspacing="0" id="PowerPointWrapperTable">
                                                        <caption style="display: table-caption;">Export to PowerPoint</caption>
                                                        <tbody>
                                                            <tr>
                                                                <td valign="TOP" style="height: 100%; white-space: normal;" id="PowerPointWrapperTableContentCell">
                                                                    <div id="PowerPointHeightUpperCalculationWrapper" style="min-height: 100px">
                    
                                                                        <div class="PowerPointExportHelpText">
                                                                            <div>
                                                                                Export the current view as Microsoft PowerPoint slides.
                                                                            </div>
                                                                            <br>
                                                                        </div>
                    
                                                                        <div id="AddSlideFunctionality" style="text-align: left">
                                                                            <span>Current slide:</span>
                                                                            <hr class="portalhr" />
                                                                            <div style="position: relative; float: left; text-align: center; left: 30%" id="div_current_image">
                                                                                <div id="PowerPointAddSlidePreview" style="width: 100px; height: 83px; position: relative; text-align: center">
                                                                                    <img alt="" id="imgCurrentSlide" unselectable="on" class="PowerPointPreviewThumbnail" style="display: block; width: 100px; height: 75px; left: 0px; border: 2px solid #F2F2F2;">
                                                                                    <img id="img_remove_image" [src]="images/dialog-close.png" alt="" unselectable="on" style="margin: 0px; border: 0px; padding: 0px; position: absolute; z-index: 1; cursor: pointer; left: 87px; top: -3px;">       
                                                                                     <img id="img_add_image" [src]="images/AddImage.png" alt="" unselectable="on" style="margin: 0px; border: 0px; padding: 0px; position: absolute; z-index: 1; cursor: pointer; left: -13px; top: -4px; height: 20px; width: 20px"
                                                                                        onclick="OfficeExportAddCurrentImage()">
                                                                                </div>
                                                                            </div>
                                                                            <div id="div_current_image_loading" style="position: relative; float: left; text-align: center; display: none; width: 100%; height: 100px"
                                                                                class="loading"></div>
                                                                        </div>
                    
                    
                                                                    </div>
                                                                    <!-- AddSlideFunctionality -->
                    
                                                                    <hr class="portalhr" />
                                                                    <div style="text-align: left; width: 100%">
                                                                        <span>All slides:</span>
                                                                        <div id="Div1" style="text-align: left">
                    
                                                                            <div style="position: relative; text-align: center; left: 30%" id="div_all_gen_images">
                                                                                   <div id="Div3" style="width: 100px; height: 83px; position: relative; text-align: center">
                                                                                                        <img alt="" id="img1" unselectable="on" class="PowerPointPreviewThumbnail" style="display: block; width: 100px; height: 75px; left: 0px;">
                                                                                                   
                                                                                                        <img id="img2" [src]="images/icon-green-tick-small.png" alt="" unselectable="on" style="margin: 0px; border: 0px; padding: 0px; position: absolute; z-index: 1; cursor: pointer; left: -3px; top: -3px;">
                                                                                                    </div>
                                                                            </div>
                    
                                                                        </div>
                                                                        <div id="div_gen_images_loading" style="position: relative; float: left; text-align: center; display: none; width: 100%; height: 200px"
                                                                            class="loading"></div>
                                                                    </div>
                                                                    <!-- </div>
                        </div>-->
                    
                                                                    <!--</div>-->
                                                                    <!-- PowerPointHeightUpperCalculationWrapper -->
                    
                                                                    <div style="width: 50px; height: 5px; position: relative; float: left; opacity: 0; background-color: rgb(255, 255, 255);"
                                                                        class="PowerPointJustifier PowerPointLeftJustifier PowerPointAllSlidesJustifier"></div>
                                                                    <div style="position: relative; float: left;" id="PowerPointAllSlidesPreviewWrapper">
                                                                        <div id="PowerPointPreviewScrollDiv" style="overflow: visible;">
                                                                            <div id="PowerPointPreviewDiv" style="position: relative;"></div>
                                                                        </div>
                                                                        <div id="PowerPointEmptyButtonDiv" style="width: 100%; text-align: center; overflow: hidden;">
                                                                            <input type="button" onclick="DeleteOfficeContent()" name="EmptyButton" id="EmptyButton" style="background-color: #ec740F; color: white; text-decoration: none; border-bottom: 1px solid #979598; width: auto; padding: 5px; height: 30px"
                                                                                value="Clear all" class="pg-button">
                                                                        </div>
                                                                        <br/>
                                                                        <input type="button" onclick="createPPT()" class="pg-button" name="PowerPoint_Export" id="PowerPoint_Export" style="background-color: #ec740F; color: white; text-decoration: none; border-bottom: 1px solid #979598; width: auto; padding: 5px; height: 30px"
                                                                            value="Export to PowerPoint">
                                                                    </div>
                    
                                                                    <div style="width: 50px; height: 5px; position: relative; float: left; opacity: 0; background-color: rgb(255, 255, 255);"
                                                                        class="PowerPointJustifier PowerPointAllSlidesJustifier" id="PowerPointAllSlidesRightJustifier"
                                                                        onclick="ToggleSelectedSlides()"></div>
                    
                                                                    <!-- PowerPointHeightLowerCalculationWrapper -->
                                                                </td>
                                                                <!-- PowerPointWrapperTableContentCell -->
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- PowerPointDiv -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                     </div>
                    
                    
                            </div>
                            
                        </div>
                     </div>
    
               
    <div class="modal-footer">
         
        <button class="btn btn-sm float-right" (click)="closeModal()">
            Close
        </button>
    </div>